VITE_FIREBASE_API_KEY="AIzaSyDrZzRE-FdT1TfHCnYY49TmPgsM0OVrcA8"
VITE_FIREBASE_AUTH_DOMAIN="mindhelp-9f9a1.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="mindhelp-9f9a1"
VITE_FIREBASE_STORAGE_BUCKET="mindhelp-9f9a1.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="408744018960"
VITE_FIREBASE_APP_ID="1:408744018960:web:a30f777519b46cd06c7695"

VITE_COHERE_API_KEY="1JlkI6P1yu4P7QAla7jVTDsips2ngA1FYKObR7UW"
